@font-face {
  font-family: "AmperSans";
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: block;
  src: url("/assets/fonts/Ampersans/AmperSans-Medium.woff2") format("woff2"),
    url("/assets/fonts/Ampersans/AmperSans-Medium.woff") format("woff");
}

@font-face {
  font-family: "AmperSans";
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
  font-display: block;
  src: url("/assets/fonts/Ampersans/AmperSans-Light.woff2") format("woff2"),
    url("/assets/fonts/Ampersans/AmperSans-Light.woff") format("woff");
}

@font-face {
  font-family: "Reckless";
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: block;
  src: url("/assets/fonts/Reckless/Reckless-Regular.otf") format("otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: Ampersans, sans-serif;
}

h1 {
  font-size: 3.6em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-weight: 200;
  font-size: 1.6em;
}

.fade {
  &.enter {
    opacity: 0.01;
    transform: translateY(100%);
  }
  &.enter-active {
    opacity: 1;
    transform: translateY(0%);
    transition: all 300ms var(--transition-enter-delay, 0ms) ease-out;
  }
  &.exit {
    opacity: 1;
    transform: translateY(0%);
  }
  &.exit-active {
    opacity: 0.01;
    transform: translateY(100%);
    transition: all 300ms var(--transition-exit-delay, 0ms) ease-out;
  }
}
